@define-color fg pink;
@define-cooor altfg cyan;
@define-color bg black;


* {
    font-family: "Play";
    font-weight: bold;
    font-size: 22px;
    min-height: 0;
    padding: 0;
    margin: 0;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    background: transparent;
}

window {
    background: transparent;
}

#outer-box {
    margin: 10px;
    background: alpha(@bg, 0.7);
    border: 1px solid @fg;
}

#input {
    background: transparent; 
    border: 1px solid @fg;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

#input > image {
    padding: 0px 10px 0px 10px;
}

scrolledwindow {
    background: transparent;
    padding: 0px;
    margin-bottom: 10px;
}

#inner-box {
    padding: 10px;
}

#entry {
    border: none;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    color: transparent;
    background: transparent;
}

#entry:selected {
    font-size: 26px;
    padding-left: 20px;
}

#text:selected {
    color: @fg;
    font-size: 26px;
}
