@define-color accent #59E1E3;
@define-color bluebg #0D0F31;
@define-color lightbluebg #3D3F5A; 
@define-color greybg #222222;
@define-color textfg #FFFFFF;

@define-color base #0d0d0d;
@define-color subtle_base #1a0f2c;

@define-color primary1 #00ffff;
@define-color primary2 #ff00ff;
@define-color primary3 #9d00ff;
@define-color primary4 #39ff14;

@define-color secondy1 #ff6c00;
@define-color secondy2 #00f0ff;
@define-color secondy3 #b3b3b3;
@define-color secondy4 #fdf800;


.control-center {
    background: alpha(@base, 0.9);
    border: 2px solid @primary3;
    border-radius: 10;
    margin: 20px;
    box-shadow: 0px 0px 5px 5px alpha(@primary3, 0.5);
}

.control-center-list-placeholder {
    color: @primary4;
}

.control-center-list {
    border-radius: 10px;
}

.floating-notification {
    background: pink;
}

.notification-group {
    background: transparent;
}

.notification-group:hover {
    background: transparent;
}

.notification-group:focus {
    border: transparent;
}

/*container close button for notification gorup when group is not focused*/
.notification-group-close-button {
}

/*container close and collapse notification group buttons*/
.notification-group-buttons {
    background: @primary1;
    color: @primary2;
}

/*notification group title*/
.notification-group-headers {
    opacity: 0;
}

/*.notification group header text only*/
.notification-group-header {
    background: transparent;
}

/*notification group header icon only*/
.notification-group-icon {
    background: transparent;
}

/*background of the row the notification is in*/
/*the notification-background is painted over it*/
.notification-row {
    background: transparent;
}

/*background of the notification container*/
.notification-background {
    background: transparent;
    color: red;
}

/*notification itself*/
.notification {
    background: @subtle_base;
    border: 1px solid @primary4;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px alpha(@primary4, 0.5);
}

.notification:hover {
    box-shadow: 0px 0px 5px 3px alpha(@primary4, 0.5);
}

.notification.critical {
    border: 1px solid @primary2;
    box-shadow: 0px 0px 5px 1px alpha(@primary2, 0.5);
}

.notification.critical:hover {
    box-shadow: 0px 0px 5px 3px alpha(@primary2, 0.5);
}

.notification.low {
    border: 1px solid @secondy4; 
    box-shadow: 0px 0px 5px 1px alpha(@secondy4, 0.5);
}

.notification.low:hover {
    box-shadow: 0px 0px 5px 3px alpha(@secondy4, 0.5);
}

/*notification or notification group focused*/
/*painted over the notification itself*/
.notification-default-action {
    background: transparent;
}

.notification-action:hover {
}

/*container for content inside notification*/
.notification-content {
    background: transparent;
}

/*close button for individual notification*/
.close-button {
    background: transparent;
    border: none;
    color: @secondy3;
}

.close-button:hover {
    color: white;
}

/*container for the app icon*/
.image {
    background: transparent;
    margin-right: 20px;
}

/*actual icon*/
.icon {

}

.text-box {
    background: transparent;
}

.summary {
    background: transparent;
}

.time {
    background: transparent;
    margin-right: 50px;
}

.body {
    background: transparent;
}

/*no clue*/
.body-image {
    background: yellow;
}

/*all label items*/
label {
    background: transparent;
}

progressbar {
    background: yellow;
}

scrollbar, scrollbar:hover {
    opacity: 0;
}

.widget-title {
    border-bottom: 3px solid @accent;
    border-radius: 0px;
}

.widget-title > button {
    border: 1px solid @accent;
}

.widget-title > button:hover {
    background: @bluebg;
}

.widget-dnd {
    border-bottom: 3px solid @accent;
    border-radius: 0px;
}

.widget-dnd > switch {
    border: 1px solid @accent;
}

.widget-dnd > switch:checked {
    background: alpha(@accent, 0.5);
}

.widget-dnd > label {
    background: transparent;
    font-size: 1.5rem;
}
