@define-color accent #59E1E3;
@define-color bluebg #0D0F31;
@define-color greybg #222222;
@define-color textfg #FFFFFF;

/*background of the row the notification is in*/
/*the notification-background is painted over it*/
.notification-row {
    background: transparent;
}

/*background of the notification container*/
.notification-background {
    background: transparent;
    color: red;
}

/*notification itself*/
.notification {
    background: @bluebg;
    border: 1px solid @accent;
}

.notification:hover {
    background: @bluebg;
}

/*close button for individual notification*/
.close-button {

}
