@import url("colors-gtk.css");

* {
    font-family: "iMWritingMono Nerd Font";
    border: none;
    font-size: 14;

}

window#waybar {
    color: @foreground;    
    background: alpha(@background, 0.6);
    transition: 0.2s ease;
    border: 1px solid @grey2;
    border-radius: 10px;
}

tooltip {
    background: @background;
    border-radius: 10px;
}

tooltip label {
    color: @foreground;
}

#workspaces {
    background: none;
    box-shadow: none;
    text-shadow: none;
    border-radius: 15px;
    border: none;
}

#workspaces button {
    background: none;
    color: @grey2;
    box-shadow: none;
    text-shadow: none;
    border-radius: 15px;
}

#workspaces button.active {
    color: @foreground;
}

#workspaces button.empty {
    color: @foreground;
}

#workspaces button:hover {
    color: @orange2;
}

#language,
#custom-firewall,
#custom-network,
#custom-battery,
#custom-lock, 
#custom-shutdown {
    margin-right: 15px;
}

#language:hover,
#custom-firewall:hover,
#custom-network:hover,
#custom-battery:hover,
#custom-lock:hover, 
#custom-shutdown:hover {
    color: @lgreen2;
    padding-top: 1px;
    border-bottom: 2px solid @lgreen2;
    transition: all 0.5s ease;
}

#language,
#custom-battery,
#custom-firewall {
    padding-right: 5px;
    padding-left: 5px;
}

#custom-network {
    padding-right: 10px;
    padding-left: 5px;
}

#custom-lock {
    padding-right: 5px;
    padding-left: 5px;
}

#custom-lock:hover {
    color: @yellow2;
    border-color: @yellow2;
}

#custom-shutdown {
    padding-left: 5px;
    padding-right: 8px;
}

#custom-shutdown:hover {
    color: @red2;
    border-color: @red2;
}


