@import url("colors-min.css");

* {
    font-family: "iMWritingMono Nerd Font";

}

window#waybar {
    color: @foreground; 
    background: @background;
    transition: 0.2s ease;
    border: 1px solid alpha(@foreground, 0.4);
    border-radius: 10px;
}

#workspaces {
    margin-right: 5px;
    border-radius: 15px;
    background: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
}

#workspaces button {
    background: none;
    color: alpha(@foreground, 0.4);
    box-shadow: none;
    text-shadow: none;
    border-radius: 15px;
}

#workspaces button.active {
    color: @foreground;
}

#workspaces button.empty {
    color: @foreground;
}

#workspaces button:hover {
    color: @accent;
}

#custom-updates,
#language,
#clock,
#custom-file-explorer,
#custom-sound,
#custom-firewall,
#custom-network,
#custom-battery,
#custom-notifications,
#custom-lock, 
#custom-shutdown {
    border-radius: 20px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid @background;
}

#custom-updates {
    color: @accent;
}

#custom-notifications.notification {
    color: @accent;
}

#custom-updates:hover,
#language:hover,
#clock:hover,
#custom-file-explorer:hover,
#custom-sound:hover,
#custom-firewall:hover,
#custom-network:hover,
#custom-battery:hover,
#custom-notifications:hover,
#custom-lock:hover, 
#custom-shutdown:hover {
    color: @background;
    background: @foreground;
    transition: all 0.5s ease;
}

#custom-file-explorer,
#custom-notifications {
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 17px;
}

#custom-lock {
    padding-right: 6px;
    padding-left: 6px;
}

#custom-shutdown {
    margin-right: 10px;
    padding-right: 8px;
    padding-left: 5px;
}

